@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "disclist";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #121212;
  --color-base-200: #1C1F26;
  --color-base-300: #1C1F26; /* Pick other base-300! */
  --color-base-content: #E5E7EB;
  --color-primary: #7C5CFF;
  --color-primary-content: #0B0B0B;
  --color-secondary: #22D3EE;
  --color-secondary-content: #0B0B0B;
  --color-accent: #FF8000;
  --color-accent-content: #0B0B0B;
  --color-neutral: #6B7280;
  --color-neutral-content: #E5E7EB;
  --color-info: #38BDF8;
  --color-info-content: #0B0B0B;
  --color-success: #1ED760;
  --color-success-content: #0B0B0B;
  --color-warning: #FBBF24;
  --color-warning-content: #0B0B0B;
  --color-error: #FE5F55;
  --color-error-content: #0B0B0B;
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}
